PORT=3000
TCB_ENV=checkout-d1gm4la5ne5471bff
TENCENTCLOUD_SECRETID=
TENCENTCLOUD_SECRETKEY=
TOKEN_SECRET=
INITIAL_ADMIN_PASSWORD=
PUBLIC_BASE_URL=https://checkout1-289516-10-1460535603.sh.run.tcloudbase.com
CORS_ORIGINS=
